<h2>Форма обратной связи</h2>
<p>Здесь Вы можете оставить свои отзывы, пожелания и предложения</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваша электронная почта</label>
    <input name="email" type="text" class="form-control" placeholder="Ваш email">
  </div>

  <div class="form-group">
    <label>Сообщение</label>
    <textarea name="mail" type="text" class="form-control" placeholder=""></textarea>
  </div>



  <button type="submit" class="btn btn-primary">Отправить сообщение</button>

</form>